body { margin-top: 5vh; margin-bottom: 5vh; margin-left: 20vw; margin-right: 20vw; background-color: #f0f0f5; color: #101015; font-family: monospace; font-size: 1rem; }
a { color: 7047ef; text-decoration: none; }
img { width: 10rem; height: 10rem; }