@import "font";

$white: #FFFFFF;
$black: #000010;
$white-alt: #E0E0E0;
$black-alt: #000020;
$accent: #9966E7;

@mixin box-shadow($color) { box-shadow: 0px 0px 10px $color; }
@mixin text-shadow($color) { text-shadow: 0px 0px 10px $color; }

html {
    overflow: hidden;
    overflow-y: scroll;
}
body {
    font-family: 'Mononoki', monospace;
    background-color: $black-alt;
    line-height: 1.7;
    font-size: 16px;
    color: $white;
    margin: 0;
    a {
        text-decoration: none;
        padding-right: 5px;
        color: $white-alt;
        padding-left: 5px;
        transition: 0.2s;
        &:hover {
            @include text-shadow($accent);
            padding-right: 20px;
            padding-left: 20px;
            color: $accent;
        }
    }
    button {
        font-family: 'Mononoki', monospace;
        @include box-shadow($black);
        background-color: $black;
        border-radius: 0px;
        transition: 0.3s;
        font-size: 16px;
        color: $white;
        padding: 17px;
        border: none;
        &:hover {
            @include box-shadow($accent);
            background-color: $accent;
            padding: 17px 30px;
        }
    }

    iframe {
        @include box-shadow($white);
        background-color: $white;
        padding: 10px;
        border: none;
    }

    hr {
        background-color: $white;
        width: 90%;
    }

    td { padding: 50px; }
}

.categories { text-align: center; padding-top: 20px; }
.main { padding: 86px; }
.invert {
    padding: 86px;
    background-color: $white-alt;
    padding-bottom: 10px;
    color: $black-alt;
    padding-top: 10px;
    a { color: $black-alt; }
}

#code {
    font-family: 'Mononoki', monospace;
    border-radius: 5px 5px 0px 0px;
    background-color: $white-alt;
    color: $black-alt;
    padding: 10px;
}

.code {
    background-color: rgba(224, 224, 224, 0.2);
    font-family: 'Mononoki', monospace;
    border-radius: 0px;
    color: $white;
    padding: 10px;
    padding-top: 17px;
}

.link {
    @include box-shadow($white);
    background-color: $white;
    overflow: hidden;
    transition: 0.3s;
    font-size: 16px;
    padding: 10px;
    &:hover {
        box-shadow: none;
        opacity: 100%;
    }
    a {
        float: left;
        text-align: center;
        margin: auto;
        padding: 4px 10px;
        text-decoration: none;
        text-shadow: none;
        color: $black;
        transition: 0.3s;
        &:hover {
            padding: 4px 20px;
            text-shadow: 0 0 10px #A0A0A0;  
        }
    }
}

.link-s {
    visibility: visible;
    position: sticky;
    transition: 0.3s;
    opacity: 60%;
    width: 100%;
    top: 0;
    & + .main { padding-top: 86px;}
}

.sel {
    padding: 2px;
    background-color: $white-alt;
    padding-right: 5px;
    padding-left: 5px;
    color: $black-alt;
}
.sel-inv {
    padding: 2px;
    background-color: $black-alt;
    padding-right: 5px;
    padding-left: 5px;
    color: $white-alt;
}

.footer {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 86px;
}