@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@font-face {
    font-family: 'Cascadia';
    src: url('../ttf/CascadiaCode.ttf');
}
@font-face {
    font-family: 'Mononoki';
    src: url('../ttf/Mononoki.ttf');
}