@font-face {
    font-family: Sailec;
    src: url(../ttf/Sailec.ttf);
}
@font-face {
    font-family: JetbrainsMono;
    src: url(../ttf/JetBrainsMono-Medium.ttf)
}


body {
    background-color: #E0E0E0;
    color: #E0E0E0;
    margin: 0;
    font-size: 20px;
    font-family: Sailec;
}
a {
    color: #E0E0E0;
    text-decoration: none;
}
button {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 10px #191919;
    background-color: #E0E0E0;
    color: #FFFFFF;
    padding: 17px;
    font-size: 20px;
    font-family: Sailec;
    border: none;
    transition: 0.2s;
}
button:hover {
    background-color: #FFFFFF;
    color: #E0E0E0;
    box-shadow: 0px 0px 10px #FFFFFF;
}
hr {
    background-color: #E0E0E0;
    border: solid 1px #000000;
    box-shadow: 0px 0px 10px #000000;
}


#code {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 10px #191919;
    background-color: #E0E0E0;
    font-family: JetbrainsMono;
    color: #FFFFFF;
    padding: 10px;
}

.link {
	overflow: hidden;
    background-color: #E0E0E0;
	box-shadow: 0px 0px 10px #191919;
    transition: 0.3s;
}
.link:hover {
    box-shadow: none;
}
.link a {
    border: solid 4px #191919;
	float: left;
	text-align: center;
	padding: 14px 16px;
    text-decoration: none;
	color: #FFFFFF;
	transition: 0.3s;
}
.link a:hover {
    border: solid 4px #191919;
	box-shadow: 0px 0px 4px #191919;
}
.link img {
    width: 20px;
    height: 20px;
}


.logo {
    text-align: center;
    padding: 14px;
    background-color: #B720E9;
	color: #FFFFFF;
	background-image: linear-gradient(to right, magenta , dodgerblue);
}
.logo a {
	color: #E0E0E0;
}


.main {
    padding: 140px;
}


.link-s {
    position: fixed;
    top: 0;
    width: 100%
}
.link-s + .main {
    padding-top: 102px;
}


.code {
    background-color: #E0E0E0;
    color: #FFFFFF;
    font-family: JetbrainsMono;
    padding: 14px;
    border-radius: 0px 4px 4px 4px;
    box-shadow: 0px 0px 10px #191919;
}
.code a {
    background-color: #252525;
    color: #FFFFFF;
    padding: 10px;
}


.dark {
    box-shadow: 0px 0px 10px #191919;
    background-color: #E0E0E0;
    color: #E0E0E0;
    padding: 140px;
}
.dark a {
    color: #FFFFFF;
}


.end {
    box-shadow: 0px 0px 10px #191919;
    background-color: #E0E0E0;
    color: #D0D0D0;
    padding: 100px;
}
.end a {
    color: #FFFFFF;
    text-decoration: none;
}